<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0Name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,85}</string>
                <key>spriteSourceSize</key>
                <string>{379,85}</string>
                <key>textureRect</key>
                <string>{{165,555},{379,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1Name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,84}</string>
                <key>spriteSourceSize</key>
                <string>{243,84}</string>
                <key>textureRect</key>
                <string>{{338,482},{243,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2Name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,84}</string>
                <key>spriteSourceSize</key>
                <string>{275,84}</string>
                <key>textureRect</key>
                <string>{{111,1442},{275,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3Name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,84}</string>
                <key>spriteSourceSize</key>
                <string>{356,84}</string>
                <key>textureRect</key>
                <string>{{111,1084},{356,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4Name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,84}</string>
                <key>spriteSourceSize</key>
                <string>{372,84}</string>
                <key>textureRect</key>
                <string>{{252,555},{372,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5Name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,84}</string>
                <key>spriteSourceSize</key>
                <string>{213,84}</string>
                <key>textureRect</key>
                <string>{{338,727},{213,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,72}</string>
                <key>spriteSourceSize</key>
                <string>{86,72}</string>
                <key>textureRect</key>
                <string>{{353,1671},{86,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beginMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,276}</string>
                <key>spriteSourceSize</key>
                <string>{552,276}</string>
                <key>textureRect</key>
                <string>{{1,1},{552,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blockSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{165,936},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,36}</string>
                <key>spriteSourceSize</key>
                <string>{221,36}</string>
                <key>textureRect</key>
                <string>{{283,929},{221,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,109}</string>
                <key>spriteSourceSize</key>
                <string>{210,109}</string>
                <key>textureRect</key>
                <string>{{197,1261},{210,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyDiamondBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{118,113}</string>
                <key>textureRect</key>
                <string>{{321,942},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>costSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,28}</string>
                <key>spriteSourceSize</key>
                <string>{78,28}</string>
                <key>textureRect</key>
                <string>{{353,1807},{78,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flashSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{321,1057},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flashText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,36}</string>
                <key>spriteSourceSize</key>
                <string>{131,36}</string>
                <key>textureRect</key>
                <string>{{308,1633},{131,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,91}</string>
                <key>spriteSourceSize</key>
                <string>{185,91}</string>
                <key>textureRect</key>
                <string>{{222,1685},{185,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>getDiamondBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,313}</string>
                <key>spriteSourceSize</key>
                <string>{108,313}</string>
                <key>textureRect</key>
                <string>{{1,1549},{108,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getDiamondSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,60}</string>
                <key>textureRect</key>
                <string>{{378,410},{66,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>getHeartSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,52}</string>
                <key>spriteSourceSize</key>
                <string>{59,52}</string>
                <key>textureRect</key>
                <string>{{279,482},{59,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>getTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,61}</string>
                <key>spriteSourceSize</key>
                <string>{407,61}</string>
                <key>textureRect</key>
                <string>{{378,1},{407,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lockBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,109}</string>
                <key>spriteSourceSize</key>
                <string>{210,109}</string>
                <key>textureRect</key>
                <string>{{197,1473},{210,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lockName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,84}</string>
                <key>spriteSourceSize</key>
                <string>{211,84}</string>
                <key>textureRect</key>
                <string>{{197,1048},{211,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>modelLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,4}</string>
                <key>spriteSourceSize</key>
                <string>{14,4}</string>
                <key>textureRect</key>
                <string>{{277,929},{14,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>modelSelectBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,86}</string>
                <key>spriteSourceSize</key>
                <string>{60,86}</string>
                <key>textureRect</key>
                <string>{{353,1745},{60,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,109}</string>
                <key>spriteSourceSize</key>
                <string>{163,109}</string>
                <key>textureRect</key>
                <string>{{111,1719},{163,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,109}</string>
                <key>spriteSourceSize</key>
                <string>{163,109}</string>
                <key>textureRect</key>
                <string>{{308,1356},{163,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>normalSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{308,1521},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,36}</string>
                <key>spriteSourceSize</key>
                <string>{193,36}</string>
                <key>textureRect</key>
                <string>{{315,1671},{193,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>okayBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,91}</string>
                <key>spriteSourceSize</key>
                <string>{185,91}</string>
                <key>textureRect</key>
                <string>{{308,1169},{185,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewardCountNum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{467,51}</string>
                <key>spriteSourceSize</key>
                <string>{479,57}</string>
                <key>textureRect</key>
                <string>{{112,555},{467,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shareFailTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,109}</string>
                <key>spriteSourceSize</key>
                <string>{527,109}</string>
                <key>textureRect</key>
                <string>{{1,555},{527,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>videoFailTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,108}</string>
                <key>spriteSourceSize</key>
                <string>{463,108}</string>
                <key>textureRect</key>
                <string>{{1,1084},{463,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>videoMissingTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{479,97}</string>
                <key>spriteSourceSize</key>
                <string>{527,109}</string>
                <key>textureRect</key>
                <string>{{279,1},{479,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>videoText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,22}</string>
                <key>spriteSourceSize</key>
                <string>{172,22}</string>
                <key>textureRect</key>
                <string>{{401,1169},{172,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vidioBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{58,38}</string>
                <key>textureRect</key>
                <string>{{112,1024},{58,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_begin.png</string>
            <key>size</key>
            <string>{440,1883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c6531c02208fddc47f934694368d60e:b944d559eecc922e030c1ce8ffb91c45:47e0d4264fc98ae20eebb15411cd34df$</string>
            <key>textureFileName</key>
            <string>ui_begin.png</string>
        </dict>
    </dict>
</plist>
