<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backHomeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,109}</string>
                <key>spriteSourceSize</key>
                <string>{163,109}</string>
                <key>textureRect</key>
                <string>{{1,112},{163,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{484,123},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{41,223},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{484,145},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{63,223},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{85,223},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{107,223},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{129,223},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{41,245},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1,223},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,72}</string>
                <key>spriteSourceSize</key>
                <string>{159,72}</string>
                <key>textureRect</key>
                <string>{{166,186},{159,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dollsBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,109}</string>
                <key>spriteSourceSize</key>
                <string>{163,109}</string>
                <key>textureRect</key>
                <string>{{213,1},{163,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,109}</string>
                <key>spriteSourceSize</key>
                <string>{210,109}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heartBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,72}</string>
                <key>spriteSourceSize</key>
                <string>{159,72}</string>
                <key>textureRect</key>
                <string>{{327,186},{159,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highestBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,72}</string>
                <key>spriteSourceSize</key>
                <string>{183,72}</string>
                <key>textureRect</key>
                <string>{{166,112},{183,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,129}</string>
                <key>spriteSourceSize</key>
                <string>{120,129}</string>
                <key>textureRect</key>
                <string>{{378,1},{120,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>redDiamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,61}</string>
                <key>textureRect</key>
                <string>{{351,123},{75,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redHeart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{61,54}</string>
                <key>textureRect</key>
                <string>{{428,123},{61,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_common.png</string>
            <key>size</key>
            <string>{508,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac7bd8a9da2cf4b7e513b6970882e52e:31b689212b258ed8b0c2439e52f7d5a9:7ee1ec5b7f377442224200acdc0091e2$</string>
            <key>textureFileName</key>
            <string>ui_common.png</string>
        </dict>
    </dict>
</plist>
