<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doll_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-39}</string>
                <key>spriteSize</key>
                <string>{293,390}</string>
                <key>spriteSourceSize</key>
                <string>{329,468}</string>
                <key>textureRect</key>
                <string>{{1,407},{293,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_0Dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{93,44}</string>
                <key>spriteSourceSize</key>
                <string>{103,44}</string>
                <key>textureRect</key>
                <string>{{735,798},{93,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_0Run_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,87}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{391,743},{54,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_0Run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{50,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{1,914},{50,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_0Run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{58,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{921,567},{58,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_0Run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{844,730},{64,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_0Run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{62,87}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{589,284},{62,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_0Run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{587,902},{62,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_0Run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{58,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{921,627},{58,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_0Run_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{589,69},{64,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-42}</string>
                <key>spriteSize</key>
                <string>{321,368}</string>
                <key>spriteSourceSize</key>
                <string>{329,468}</string>
                <key>textureRect</key>
                <string>{{296,373},{321,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_1Dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{95,42}</string>
                <key>spriteSourceSize</key>
                <string>{103,44}</string>
                <key>textureRect</key>
                <string>{{683,567},{95,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_1Run_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{54,87}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{480,743},{54,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_1Run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{46,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{619,373},{46,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_1Run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-12}</string>
                <key>spriteSize</key>
                <string>{62,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{781,797},{62,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_1Run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{66,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{589,205},{66,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_1Run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{62,87}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{921,745},{62,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_1Run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{58,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{199,906},{58,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_1Run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{56,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{658,740},{56,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_1Run_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{589,135},{68,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-48}</string>
                <key>spriteSize</key>
                <string>{319,370}</string>
                <key>spriteSourceSize</key>
                <string>{329,468}</string>
                <key>textureRect</key>
                <string>{{268,1},{319,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_2Dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,44}</string>
                <key>spriteSourceSize</key>
                <string>{103,44}</string>
                <key>textureRect</key>
                <string>{{465,799},{103,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_2Run_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{52,87}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{939,873},{52,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_2Run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{48,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{100,914},{48,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_2Run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-12}</string>
                <key>spriteSize</key>
                <string>{62,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{845,796},{62,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_2Run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{702,664},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_2Run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{62,85}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{909,809},{62,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_2Run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{60,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{298,904},{60,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_2Run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-12}</string>
                <key>spriteSize</key>
                <string>{62,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{769,567},{62,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_2Run_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{589,1},{66,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-8}</string>
                <key>spriteSize</key>
                <string>{265,404}</string>
                <key>spriteSourceSize</key>
                <string>{329,468}</string>
                <key>textureRect</key>
                <string>{{1,1},{265,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_3Dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{101,44}</string>
                <key>spriteSourceSize</key>
                <string>{103,44}</string>
                <key>textureRect</key>
                <string>{{511,799},{101,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_3Run_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{56,103}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{353,799},{56,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_3Run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{48,113}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{63,799},{48,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_3Run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{54,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{113,799},{54,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_3Run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{60,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{395,904},{60,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_3Run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{62,103}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{225,799},{62,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_3Run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{60,113}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{1,799},{60,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_3Run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{54,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{169,799},{54,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_3Run_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{62,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{833,567},{62,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-46}</string>
                <key>spriteSize</key>
                <string>{281,342}</string>
                <key>spriteSourceSize</key>
                <string>{329,468}</string>
                <key>textureRect</key>
                <string>{{669,284},{281,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_4Dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{101,44}</string>
                <key>spriteSourceSize</key>
                <string>{103,44}</string>
                <key>textureRect</key>
                <string>{{557,799},{101,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_4Run_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{54,87}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{569,743},{54,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_4Run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{46,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{619,472},{46,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_4Run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-12}</string>
                <key>spriteSize</key>
                <string>{56,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{751,739},{56,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_4Run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{768,664},{64,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_4Run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{62,87}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{850,889},{62,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_4Run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{58,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{488,904},{58,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_4Run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-12}</string>
                <key>spriteSize</key>
                <string>{56,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{921,687},{56,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_4Run_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{769,893},{66,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-40}</string>
                <key>spriteSize</key>
                <string>{281,348}</string>
                <key>spriteSourceSize</key>
                <string>{329,468}</string>
                <key>textureRect</key>
                <string>{{669,1},{281,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_5Dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{95,40}</string>
                <key>spriteSourceSize</key>
                <string>{103,44}</string>
                <key>textureRect</key>
                <string>{{727,567},{95,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_5Run_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{54,93}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{296,743},{54,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_5Run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{52,103}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{411,799},{52,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_5Run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{603,799},{64,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_5Run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{68,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{619,670},{68,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doll_5Run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{64,93}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{669,798},{64,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_5Run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{62,103}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{289,799},{62,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_5Run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{619,571},{62,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doll_5Run_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{66,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,115}</string>
                <key>textureRect</key>
                <string>{{686,893},{66,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_dolls.png</string>
            <key>size</key>
            <string>{1018,965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47fd7838d3a7172b094e9c19c5dc8bbb:de87808c31397852569f7eb08f51d1bc:5f535b165b0e02590b085ab138fcfad1$</string>
            <key>textureFileName</key>
            <string>ui_dolls.png</string>
        </dict>
    </dict>
</plist>
