<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bestTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,36}</string>
                <key>spriteSourceSize</key>
                <string>{114,36}</string>
                <key>textureRect</key>
                <string>{{1,885},{114,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doubleUpBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,109}</string>
                <key>spriteSourceSize</key>
                <string>{210,109}</string>
                <key>textureRect</key>
                <string>{{1,31},{210,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doubleUpBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,109}</string>
                <key>spriteSourceSize</key>
                <string>{210,109}</string>
                <key>textureRect</key>
                <string>{{1,142},{210,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,71}</string>
                <key>spriteSourceSize</key>
                <string>{90,71}</string>
                <key>textureRect</key>
                <string>{{166,584},{90,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,117}</string>
                <key>spriteSourceSize</key>
                <string>{101,117}</string>
                <key>textureRect</key>
                <string>{{1,780},{101,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endLevel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,36}</string>
                <key>spriteSourceSize</key>
                <string>{361,36}</string>
                <key>textureRect</key>
                <string>{{213,31},{361,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>replayBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,109}</string>
                <key>spriteSourceSize</key>
                <string>{163,109}</string>
                <key>textureRect</key>
                <string>{{1,558},{163,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultDiamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{166,676},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultHeart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{166,740},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reviveBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,67}</string>
                <key>spriteSourceSize</key>
                <string>{207,67}</string>
                <key>textureRect</key>
                <string>{{1,253},{207,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reviveMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,186}</string>
                <key>spriteSourceSize</key>
                <string>{198,186}</string>
                <key>textureRect</key>
                <string>{{1,322},{198,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reviveTitel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,28}</string>
                <key>spriteSourceSize</key>
                <string>{238,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reviveTitel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{1,510},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,36}</string>
                <key>spriteSourceSize</key>
                <string>{147,36}</string>
                <key>textureRect</key>
                <string>{{201,394},{147,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shareBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,109}</string>
                <key>spriteSourceSize</key>
                <string>{163,109}</string>
                <key>textureRect</key>
                <string>{{1,669},{163,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,5}</string>
                <key>spriteSourceSize</key>
                <string>{19,5}</string>
                <key>textureRect</key>
                <string>{{241,1},{19,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unLockHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,93}</string>
                <key>spriteSourceSize</key>
                <string>{105,93}</string>
                <key>textureRect</key>
                <string>{{120,798},{105,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unLockNumText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,20}</string>
                <key>spriteSourceSize</key>
                <string>{165,20}</string>
                <key>textureRect</key>
                <string>{{1,536},{165,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unLockTitel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,17}</string>
                <key>spriteSourceSize</key>
                <string>{143,17}</string>
                <key>textureRect</key>
                <string>{{232,740},{143,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unLockTitel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,17}</string>
                <key>spriteSourceSize</key>
                <string>{75,17}</string>
                <key>textureRect</key>
                <string>{{166,565},{75,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unLockprogress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,20}</string>
                <key>spriteSourceSize</key>
                <string>{49,20}</string>
                <key>textureRect</key>
                <string>{{200,543},{49,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unLockprogressBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,24}</string>
                <key>textureRect</key>
                <string>{{174,510},{53,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_end.png</string>
            <key>size</key>
            <string>{250,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcec7c3e55ab202d703703e4a4403132:6204f29ccda571eeabd899bc8d3dabfa:c4dd945e27309bb099617390955e34e6$</string>
            <key>textureFileName</key>
            <string>ui_end.png</string>
        </dict>
    </dict>
</plist>
