<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamondSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{58,52}</string>
                <key>textureRect</key>
                <string>{{147,1},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{5,5}</string>
                <key>textureRect</key>
                <string>{{1,43},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heartSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,44}</string>
                <key>spriteSourceSize</key>
                <string>{51,44}</string>
                <key>textureRect</key>
                <string>{{207,1},{51,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,40}</string>
                <key>spriteSourceSize</key>
                <string>{144,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_game.png</string>
            <key>size</key>
            <string>{252,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4079123795407911188e77ec5be805eb:6ae5b1bae2a287f933393dae5a79753a:1a51ee05fa5bcb6de76caab821ec3a4a$</string>
            <key>textureFileName</key>
            <string>ui_game.png</string>
        </dict>
    </dict>
</plist>
